/*  make the settings page suck a bit less. */
blockquote {
    margin: 2em;
    padding: 2em;
    border: 1px solid lightgrey;
}

div#app-content {
    padding-left: 1em;
}

#deposits {
    position: relative;
    width: 100%;
}

#deposits th {
    font-weight: bold;
}

#deposits tr {
    background-color: white;
    height: 40px;
}

#deposits td {
    border-bottom: 1px solid lightgrey;
}

#deposits .path {
    width: 100%;
}

#deposits .status {
    min-width: 160px;
    max-width: 160px;
}
